<!DOCTYPE html>
<html ng-app="authApp" ng-controller="AuthLayoutController">
<head lang="en">
    <meta charset="UTF-8">
    <title>Mentor</title>
    <link href="bootstrap-css/css/bootstrap.css" rel="stylesheet"/>
    <link href="components-font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href="stylesheets/AdminLTE.css" rel="stylesheet"/>
</head>
<body class="bg-black" elheightresize="" >
    <div ui-view="" ></div>
<script type="text/javascript" src="angular/angular.js"></script>
<script type="text/javascript" src="angular-ui-router/release/angular-ui-router.js"></script>
<script type="text/javascript" src="jquery/dist/jquery.js"></script>

<script type="text/javascript" src="javascripts/authApp.js"></script>
<script type="text/javascript" src="javascripts/Controller/AuthLayoutController.js"></script>
<script type="text/javascript" src="javascripts/Controller/LoginController.js"></script>
<script type="text/javascript" src="javascripts/Controller/RegisterController.js"></script>
</body>
</html>